In [3]:
def some_function(x):
    return x * 2

In [4]:
some_function(25)

50

In [5]:
lambda_function = lambda x: x * 2

In [6]:
print(lambda_function(14))

28

In [7]:
f1 = lambda: 10 + 20
print(f1())

30

In [8]:
def some_function(x, y):
    return x + y

In [9]:
f2 = lambda x, y: x + y
print(f2(15, 10))

25

In [10]:
f3 = lambda x: x.replace(', ', '_')
print(f3('5, 10, 30'))

5_10_30

In [11]:
f3 = lambda x, y: x * y
print(f3('5, 10, 30', 2))

5, 10, 305, 10, 30

In [12]:
def compare_by_second(point):
    return point[1]

In [13]:
def compare_by_sum(point):
    return point[0] + point[1]

In [14]:
points = [(1, -1), (2, 3), (-10, 15), (10, 9), (7, 18), (1, 5), (2, -4)]

In [15]:
print(sorted(points, key = compare_by_second))
print(sorted(points, key = compare_by_sum))

[(2, -4), (1, -1), (2, 3), (1, 5), (10, 9), (-10, 15), (7, 18)]
[(2, -4), (1, -1), (2, 3), (-10, 15), (1, 5), (10, 9), (7, 18)]

In [16]:
print(sorted(points, key = lambda point: point[1]))
print(sorted(points, key = lambda point: point[0] + point[1]))

[(2, -4), (1, -1), (2, 3), (1, 5), (10, 9), (-10, 15), (7, 18)]
[(2, -4), (1, -1), (2, 3), (-10, 15), (1, 5), (10, 9), (7, 18)]

# Урок 3. Изменение таблиц в Pandas

In [126]:
import pandas as pd
import numpy as np

## Задание 1
1. Скачать данные по ссылке  
https://www.kaggle.com/datasets/ionaskel/laptop-prices
2. Считать данные с помощью pandas
3. Вывести на экран 5 строк

In [18]:
df = pd.read_csv('./laptop_price.csv', encoding = 'latin-1')

In [19]:
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

### 1.1. Создать новый признак Cpu_Company, который будет содержать только название фирмы, которая произвела CPU

In [20]:
# df['Cpu_Company'] = df['Cpu']
df['Cpu'].value_counts()

Intel Core i5 7200U 2.5GHz              190
Intel Core i7 7700HQ 2.8GHz             146
Intel Core i7 7500U 2.7GHz              134
Intel Core i7 8550U 1.8GHz               73
Intel Core i5 8250U 1.6GHz               72
                                       ...
AMD A6-Series 7310 2GHz                   1
Samsung Cortex A72&A53 2.0GHz             1
AMD A12-Series 9700P 2.5GHz               1
Intel Pentium Dual Core 4405Y 1.5GHz      1
Intel Core i7 7700HQ 2.7GHz               1
Name: Cpu, Length: 118, dtype: int64

In [21]:
df['Cpu_Company'] = df['Cpu'].apply(lambda x: x.split()[0])
df['Cpu_Company'].value_counts()

Intel      1240
AMD          62
Samsung       1
Name: Cpu_Company, dtype: int64

### 1.2. Создать новый признак Memory_Amount, который будет содержать только количество Gb памяти без указания типа носителя

In [33]:
df['Memory'].value_counts()

256GB SSD                        412
1TB HDD                          223
500GB HDD                        132
512GB SSD                        118
128GB SSD +  1TB HDD              94
128GB SSD                         76
256GB SSD +  1TB HDD              73
32GB Flash Storage                38
2TB HDD                           16
64GB Flash Storage                15
512GB SSD +  1TB HDD              14
1TB SSD                           14
256GB SSD +  2TB HDD              10
1.0TB Hybrid                       9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
180GB SSD                          5
128GB Flash Storage                4
16GB SSD                           3
512GB SSD +  2TB HDD               3
256GB SSD +  500GB HDD             2
128GB SSD +  2TB HDD               2
256GB SSD +  256GB SSD             2
512GB Flash Storage                2
1TB SSD +  1TB HDD                 2
512GB SSD +  512GB SSD             1
240GB SSD                          1
64GB SSD                           1
8GB SSD                            1
64GB Flash Storage +  1TB HDD      1
256GB SSD +  1.0TB Hybrid          1
1.0TB HDD                          1
512GB SSD +  1.0TB Hybrid          1
512GB SSD +  256GB SSD             1
32GB HDD                           1
508GB Hybrid                       1
1TB HDD +  1TB HDD                 1
128GB HDD                          1
Name: Memory, dtype: int64

In [34]:
def gb(s):
    s = s.split()[0]
    if s.endswith('TB'):
        x = int(float(s.replace('TB', ''))) * 1024
    elif s.endswith('GB'):
        x = int(s.replace('GB', ''))
    return x

df['Memory_Amount'] = df['Memory'].apply(gb)
df['Memory_Amount'].value_counts()

256     508
1024    250
128     177
512     140
500     132
32       45
64       17
2048     16
16       10
180       5
508       1
240       1
8         1
Name: Memory_Amount, dtype: int64

### 1.3. Создать новый признак Memory_Type, который будет содержать тип носителя (HDD/SDD/др.)

In [35]:
df['Memory_Type'] = df['Memory'].apply(lambda x: x.split()[-1])
df['Memory_Type'].value_counts()

SSD        641
HDD        576
Storage     74
Hybrid      12
Name: Memory_Type, dtype: int64

### 1.4. Удалите признаки Memory и ScreenResolution

In [36]:
# df.drop(columns = ['Memory', 'ScreenResolution'], inplace = True)
# df.drop(['Memory', 'ScreenResolution'], axis = 1, inplace = True)
df1 = df.drop(['Memory', 'ScreenResolution'], axis = 1)
df1

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,SSD,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,0,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,0,Storage
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,0,SSD
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,0,SSD
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,0,SSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,Intel Core i7 6500U 2.5GHz,4GB,Intel HD Graphics 520,Windows 10,1.8kg,638.00,Intel,128,0,SSD
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,Intel Core i7 6500U 2.5GHz,16GB,Intel HD Graphics 520,Windows 10,1.3kg,1499.00,Intel,512,0,SSD
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,Intel Celeron Dual Core N3050 1.6GHz,2GB,Intel HD Graphics,Windows 10,1.5kg,229.00,Intel,64,0,Storage
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,Intel Core i7 6500U 2.5GHz,6GB,AMD Radeon R5 M330,Windows 10,2.19kg,764.00,Intel,1024,0,HDD
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,Intel Celeron Dual Core N3050 1.6GHz,4GB,Intel HD Graphics,Windows 10,2.2kg,369.00,Intel,500,0,HDD

## Задание 2

### 2.1. Создайте признак SSD, который изначально равен 0

In [37]:
df['SSD'] = 0
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,SSD,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,0,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,0,Storage
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,0,SSD
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,0,SSD
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,0,SSD

### 2.2. Поставьте в признаке SSD 1, если ноутбук действительно с типом носителя SSD

In [38]:
df['Memory_Type'].unique()

array(['SSD', 'Storage', 'HDD', 'Hybrid'], dtype=object)

In [45]:
df.loc[df['Memory_Type'] == 'SSD', 'SSD'] = 1
df[['Memory_Type', 'SSD']].sample(10)

     Memory_Type  SSD
529          SSD    1
65           SSD    1
1193     Storage    0
482          SSD    1
726          HDD    0
714          SSD    1
1208         HDD    0
1271         SSD    1
17           SSD    1
685          HDD    0

### 2.3. Уберите в признаке Weight значения 'kg' и поменяйте его тип данных на вещественный

In [53]:
df['Weight'] = df['Weight'].apply(lambda x: x.replace('kg', '')).astype(float)
df['Weight']

0       1.37
1       1.34
2       1.86
3       1.83
4       1.37
        ...
1298    1.80
1299    1.30
1300    1.50
1301    2.19
1302    2.20
Name: Weight, Length: 1303, dtype: float64

## Задание 3

In [54]:
cl = pd.DataFrame({
    'client_id': [45, 32, 67, 33, 54],
    'laptop_id': [506, 398, 710, 120, 1999]
})
cl

   client_id  laptop_id
0         45        506
1         32        398
2         67        710
3         33        120
4         54       1999

### 3.1. Присоедините к таблице clients данные по ноутбукам через метод join

Неправильно (!):

In [65]:
cl.join(df)

,client_id,laptop_id,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,SSD,Memory_Type
0,45,506,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128,1,SSD
1,32,398,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34,898.94,Intel,128,0,Storage
2,67,710,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86,575.00,Intel,256,1,SSD
3,33,120,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83,2537.45,Intel,512,1,SSD
4,54,1999,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37,1803.60,Intel,256,1,SSD

Правильно (!):

In [59]:
cl_id = cl.set_index('laptop_id')
cl_id

           client_id
laptop_id
506               45
398               32
710               67
120               33
1999              54

In [61]:
df_id = df.set_index('laptop_ID')
df_id

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,SSD,Memory_Type
laptop_ID,,,,,,,,,,,,,,,,
1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128,1,SSD
2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34,898.94,Intel,128,0,Storage
3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86,575.00,Intel,256,1,SSD
4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83,2537.45,Intel,512,1,SSD
5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37,1803.60,Intel,256,1,SSD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.80,638.00,Intel,128,1,SSD
1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.30,1499.00,Intel,512,1,SSD
1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.50,229.00,Intel,64,0,Storage
1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19,764.00,Intel,1024,0,HDD
1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.20,369.00,Intel,500,0,HDD

In [66]:
cl_id.join(df_id) # По умолчанию - левое внешнее соединение

,client_id,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,SSD,Memory_Type
laptop_id,,,,,,,,,,,,,,,,,
506,45,Lenovo,ThinkPad L570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256.0,1.0,SSD
398,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,67,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,1366x768,AMD A12-Series 9720P 3.6GHz,8GB,1TB HDD,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024.0,0.0,HDD
120,33,Dell,Inspiron 7570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,8GB,256GB SSD + 1TB HDD,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256.0,0.0,HDD
1999,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
cl_id.join(df_id, how = "inner") # Задать вид соединения: how = 'inner' - внутреннее соединеие

,client_id,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,SSD,Memory_Type
506,45,Lenovo,ThinkPad L570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256,1,SSD
710,67,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,1366x768,AMD A12-Series 9720P 3.6GHz,8GB,1TB HDD,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024,0,HDD
120,33,Dell,Inspiron 7570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,8GB,256GB SSD + 1TB HDD,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256,0,HDD

### 3.2. Присоедините к таблице clients данные по ноутбукам через метод merge

In [71]:
m = cl.merge(df, left_on = 'laptop_id', right_on = 'laptop_ID') # По умолчанию - внутреннее соединение
m

,client_id,laptop_id,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,SSD,Memory_Type
0,45,506,506,Lenovo,ThinkPad L570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256,1,SSD
1,67,710,710,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,1366x768,AMD A12-Series 9720P 3.6GHz,8GB,1TB HDD,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024,0,HDD
2,33,120,120,Dell,Inspiron 7570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,8GB,256GB SSD + 1TB HDD,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256,0,HDD

In [74]:
m = cl.merge(df, left_on = 'laptop_id', right_on = 'laptop_ID', how = 'left') # Задать вид соединения
m                                                            # how = 'left'- левое внешнее соединение

,client_id,laptop_id,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,SSD,Memory_Type
0,45,506,506.0,Lenovo,ThinkPad L570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256.0,1.0,SSD
1,32,398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,67,710,710.0,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,1366x768,AMD A12-Series 9720P 3.6GHz,8GB,1TB HDD,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024.0,0.0,HDD
3,33,120,120.0,Dell,Inspiron 7570,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,8GB,256GB SSD + 1TB HDD,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256.0,0.0,HDD
4,54,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Задание 4

### 4.1. Найдите среднюю стоимость ноутбуков в зависимости от компании производителя. Отсортируйте от меньшей стоимости к большей

In [77]:
df.groupby('Company').agg({'Price_euros': 'mean'}).sort_values('Price_euros')

           Price_euros
Company
Vero        217.425000
Mediacom    295.000000
Chuwi       314.296667
Acer        626.775825
Fujitsu     729.000000
HP         1067.774854
Lenovo     1086.384444
Asus       1104.169367
Xiaomi     1133.462500
Dell       1186.068990
Toshiba    1267.812500
Samsung    1413.444444
Huawei     1424.000000
Apple      1564.198571
Microsoft  1612.308333
Google     1677.666667
MSI        1728.908148
LG         2099.000000
Razer      3346.142857

### 4.2. Найдите минимальную, среднюю и максимальную стоимости ноутбуков в зависимости от производителя процессора

#### 1-й способ

In [82]:
df.groupby('Cpu_Company').agg({
    'Price_euros': ['mean', 'min', 'max']
})

             Price_euros
                    mean    min     max
Cpu_Company
AMD           560.638871  199.0  2199.0
Intel        1152.214145  174.0  6099.0
Samsung       659.000000  659.0   659.0

#### 2-й способ: множественный индекс

In [96]:
group_data = df.groupby('Cpu_Company').agg({
    'Price_euros': ['mean', 'min', 'max']
})
group_data

             Price_euros
                    mean    min     max
Cpu_Company
AMD           560.638871  199.0  2199.0
Intel        1152.214145  174.0  6099.0
Samsung       659.000000  659.0   659.0

In [98]:
group_data.sort_values('Price_euros') # Ошибка, т.к. данные в разных столбцах,
# т.е. требуется сортировка однотипных данных, но по разным столбцам - множественный индекс

ValueError: The column label 'Price_euros' is not unique.
For a multi-index, the label must be a tuple with elements corresponding to each level.

Преобразовать наименования колонок в их список (также можно и строки)

In [100]:
cols_list = group_data.columns.to_list()
cols_list

[('Price_euros', 'mean'), ('Price_euros', 'min'), ('Price_euros', 'max')]

In [102]:
df.columns.to_list() # К примеру - все колонки df

['laptop_ID',
 'Company',
 'Product',
 'TypeName',
 'Inches',
 'ScreenResolution',
 'Cpu',
 'Ram',
 'Memory',
 'Gpu',
 'OpSys',
 'Weight',
 'Price_euros',
 'Cpu_Company',
 'Memory_Amount',
 'SSD',
 'Memory_Type']

In [ ]:
Сортировка по отдельному полю из множественного индекса:

In [103]:
group_data.sort_values(('Price_euros', 'min'))

             Price_euros
                    mean    min     max
Cpu_Company
Intel        1152.214145  174.0  6099.0
AMD           560.638871  199.0  2199.0
Samsung       659.000000  659.0   659.0

In [106]:
group_data.sort_values(cols_list[1]) # Аналогично - взять нужный столбец из их списка

             Price_euros
                    mean    min     max
Cpu_Company
Intel        1152.214145  174.0  6099.0
AMD           560.638871  199.0  2199.0
Samsung       659.000000  659.0   659.0

### 4.3. Постройте таблицу с подсчётом количества ноутбуков в данных в зависимости от производителя CPU и ОЗУ

In [87]:
df.pivot_table(
    index = 'Cpu_Company',
    columns = 'Ram',
    aggfunc = 'count',
    values = 'laptop_ID',
    fill_value = '-'
)

Ram         12GB 16GB 24GB 2GB 32GB    4GB 64GB 6GB  8GB
Cpu_Company
AMD            2    3    -   1    -   31.0    -  13   12
Intel         23  197    3  21   17  343.0    1  28  607
Samsung        -    -    -   -    -    1.0    -   -    -

### 4.4. Постройте таблицу с подсчётом средней стоимости ноутбуков в данных в зависимости от опрационной системы и GB памяти

#### С помощью pivot_table

In [90]:
df.pivot_table(
    index = 'OpSys',
    columns = 'Ram',
    aggfunc = 'mean',
    values = 'Price_euros',
    fill_value = '-'
)

Ram,12GB,16GB,24GB,2GB,32GB,4GB,64GB,6GB,8GB
OpSys,,,,,,,,,
Android,-,-,-,-,-,434,-,-,-
Chrome OS,-,2199,-,234.333,-,397.726,-,-,1122
Linux,949,974,-,-,-,417.706,-,-,814.618
Mac OS X,-,2139.97,-,-,-,959,-,-,1167.33
No OS,-,1265.32,-,-,-,393.981,-,-,722.675
Windows 10,1206,1916.55,2206.33,257.534,3413.09,604.318,3975,615.206,1190.12
Windows 10 S,-,2589,-,-,-,673.997,-,-,1668.95
Windows 7,2299,2840.4,-,-,-,1036.02,-,-,1739.48
macOS,-,2611.81,-,-,-,-,-,-,1490.98

#### С помощью crosstab

In [110]:
pd.crosstab(
    index = df['OpSys'],
    columns = df['Ram'],
    aggfunc = 'mean',
    values = df['Price_euros']
).fillna('-')

Ram,12GB,16GB,24GB,2GB,32GB,4GB,64GB,6GB,8GB
OpSys,,,,,,,,,
Android,-,-,-,-,-,434,-,-,-
Chrome OS,-,2199,-,234.333,-,397.726,-,-,1122
Linux,949,974,-,-,-,417.706,-,-,814.618
Mac OS X,-,2139.97,-,-,-,959,-,-,1167.33
No OS,-,1265.32,-,-,-,393.981,-,-,722.675
Windows 10,1206,1916.55,2206.33,257.534,3413.09,604.318,3975,615.206,1190.12
Windows 10 S,-,2589,-,-,-,673.997,-,-,1668.95
Windows 7,2299,2840.4,-,-,-,1036.02,-,-,1739.48
macOS,-,2611.81,-,-,-,-,-,-,1490.98

## Задание 5

### 5.1. Ноутбуков каких компаний и с каким процессором больше?

In [92]:
pd.crosstab(
    index = df['Company'],
    columns = df['Cpu_Company']
).sort_values('Intel', ascending = False)

Cpu_Company  AMD  Intel  Samsung
Company
Dell           0    297        0
Lenovo        16    281        0
HP            25    249        0
Asus          11    147        0
Acer          10     93        0
MSI            0     54        0
Toshiba        0     48        0
Apple          0     21        0
Samsung        0      8        1
Razer          0      7        0
Mediacom       0      7        0
Microsoft      0      6        0
Vero           0      4        0
Xiaomi         0      4        0
Google         0      3        0
Fujitsu        0      3        0
Chuwi          0      3        0
LG             0      3        0
Huawei         0      2        0

#### Автоматический поиск максимума

1-й способ:

In [111]:
pd.crosstab(
    index = df['Company'],
    columns = df['Cpu_Company']
).max()

Cpu_Company
AMD         25
Intel      297
Samsung      1
dtype: int64

In [113]:
df1 = pd.crosstab(
    index = df['Company'],
    columns = df['Cpu_Company']
)
df1[df1['Intel'] == 297]

Cpu_Company  AMD  Intel  Samsung
Company
Dell           0    297        0

### 5.2. С каким типом памяти и с паким объёмом памяти больше ноутбуков?

In [93]:
pd.crosstab(
    index = df['Memory_Type'],
    columns = df['Memory_Amount']
)

Memory_Amount,8,16,32,64,128,180,240,256,500,508,512,1024,2048
Memory_Type,,,,,,,,,,,,,
HDD,0,0,1,1,97,0,0,85,132,0,17,227,16
Hybrid,0,0,0,0,0,0,0,1,0,1,1,9,0
SSD,1,3,6,1,76,5,1,414,0,0,120,14,0
Storage,0,7,38,15,4,0,0,8,0,0,2,0,0

#### Автоматический поиск максимума

2-й способ:

In [114]:
pd.crosstab(
    index = df['Memory_Type'],
    columns = df['Memory_Amount']
).max().sort_values().to_frame()

                 0
Memory_Amount
8                1
240              1
508              1
180              5
16               7
64              15
2048            16
32              38
128             97
512            120
500            132
1024           227
256            414

# 3-й способ: Подсвечивание данных

In [119]:
data = pd.crosstab(
    index = df['Memory_Type'],
    columns = df['Memory_Amount']
)

In [116]:
def gold_max(x):
    m = x.to_numpy().max() # в numpy, т.к. мы хотим макс от всех значений
    color = {
        True: "background-color: #c78f2e",
        False: ""
    }
    is_max = (x == m).replace(color)
    return is_max

In [120]:
data.style.apply(gold_max, axis = None) # Максимум из всех данных: axis = None

In [129]:
data.to_numpy()

array([[  0,   0,   1,   1,  97,   0,   0,  85, 132,   0,  17, 227,  16],
       [  0,   0,   0,   0,   0,   0,   0,   1,   0,   1,   1,   9,   0],
       [  1,   3,   6,   1,  76,   5,   1, 414,   0,   0, 120,  14,   0],
       [  0,   7,  38,  15,   4,   0,   0,   8,   0,   0,   2,   0,   0]],
      dtype=int64)

In [130]:
data.to_numpy().max()

414

In [139]:
def highlight_max(x):
    return np.where(x == np.max(x.to_numpy()), f"color: red ;", "")

In [147]:
data.style.apply(highlight_max, axis = 0) # Максимум по столбцам: axis = 0

In [144]:
def blue_max(x):
    m = x.to_numpy().max() # в numpy, т.к. мы хотим макс от всех значений
    color = {
        True: f"color: blue ;",
        False: ""
    }
    is_max = (x == m).replace(color)
    return is_max

In [149]:
data.style.apply(blue_max, axis = 1) # Максимум по строкам: axis = 1